<footer class="w3-container w3-padding-16 w3-light-grey footer">
  <div class="footer__container">
    <h4 class="footer__title">Title</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec turpis erat. Maecenas dapibus, enim in gravida eleifend, ligula nibh interdum lorem, a sodales felis urna vulputate risus. Aliquam feugiat facilisis felis, nec ullamcorper nibh blandit in. Aliquam faucibus mattis fermentum. Suspendisse non nunc a nibh hendrerit rutrum. Sed sed mauris pharetra, iaculis libero id, aliquet turpis. Aliquam erat volutpat. Fusce ultricies ante quis efficitur lacinia. Curabitur rhoncus at augue at sollicitudin. Fusce et ullamcorper dui. Maecenas imperdiet feugiat fermentum. Donec bibendum consectetur dignissim. Donec placerat lacinia accumsan. Mauris eu faucibus enim, sed varius ligula. Maecenas ac ultrices risus. In accumsan enim nec mauris finibus, et sodales nisi maximus.
    </p>
  </div>
</footer>