<section class="w3-container">
	<h3>status ({{ title }})</h3>
	<ul class="w3-ul w3-card-4 w3-white ticket-list">
		<li class="w3-padding-16 ticket-list__item" *ngFor="let ticket of tickets">
      <div class="w3-container">
        <div class="w3-third" style="width: 10%"> 
          <p class="ticket-list__item-status">{{ticket.status}}</p>
          <p class="ticket-list__item-priority">{{ticket.priority}}</p>
        </div>
        <div class="w3-twothird">
          <h4>
            <a routerLink="/tickets/{{ticket.id}}">{{ticket.title}}</a>
          </h4>
          <div class="ticket-list__item-tag" *ngFor="let tag of ticket.tags">
            <a>{{tag}}</a>
          </div>
          <div class="ticket-list__item-created-at">
            <span>{{ticket.createdAt | date}}</span>
          </div>
        </div>
      </div>
		</li>
	</ul>
</section> 