<div class="grid">
	<div class="col-8 m-auto">
		<div *ngIf="ticket">
			<h1>{{ticket.title}}</h1>
			<p-chip label="{{ticket.status | lowercase}}" styleClass="mr-2 custom-chip"></p-chip>
			<span>{{ticket.createdBy?.name}}</span>
			<span> | </span>
			<span>{{ticket.createdAt | date}}</span>
		</div>
		<div [hidden]="ticket">
			<p><p-skeleton shape="list"></p-skeleton></p>
			<p><p-skeleton shape="rectangle" width="30%"></p-skeleton></p>
		</div>
		<div *ngFor="let comment of comments">
			<p-divider></p-divider>
			<div style="display: flex;">
				<p-avatar image="https://randomuser.me/api/portraits/women/4.jpg" shape="circle" size="large"></p-avatar>
				<span class="flex-spacer-30"></span>
				<p-panel>
					<ng-template pTemplate="header">
						<p style="margin: 0;">
							<span>{{comment.createdBy.name}}</span>
							<span> | </span>
							<span>{{comment.createdAt | date}}</span>
						</p>
					</ng-template>
					<p>{{comment.message}}</p>
					<a target="_blank" *ngFor="let image of comment.images" href="{{baseURL}}/tickets/{{ticket?.id}}/comments/{{comment.id}}/images/{{image.id}}">
						<span>{{image.name}}</span> <br/>
					</a>
				</p-panel>
			</div>
		</div>
		<div>
			<p-divider></p-divider>
			<p-editor name="description"></p-editor>
		</div>
	</div>
</div>