<section class="w3-container ticket-detail">
  <header class="w3-container ticket-title">
    <h2>{{ ticket?.title }}</h2>
  </header>
  <div class="w3-twothird">
	  <ul class="w3-ul w3-white w3-card">
	    <li class="ticket-detail__comment" *ngFor="let comment of ticket?.comments">
	      <div>
	        <i class="fa-solid fa-user"></i>
	        <div class="ticket-detail__comment-register">
	          <p class="ticket-detail__comment-user">{{ comment.createdBy }}</p>
	          <p class="ticket-detail__comment-updated-at">{{comment.createdAt | date}}</p>
	        </div>
	        <div>
	          <p [innerHTML]="comment.message"></p>
	        </div>
	      </div>
	    </li>
	  </ul>
	  <div class="w3-panel ticket-detail__comment-add">
	  	<angular-editor [(ngModel)]="pageComment">{{ pageComment }}</angular-editor>
	  	<button type="button" (click)="addComment()">Adicionar</button>
	  </div>
  </div>
  <div class="w3-container w3-third w3-light-gray">
    <div class="ticket-detail__comment-metadata">
      <p><span class="meta-key">Criado por:</span><span class="meta-value">{{ ticket?.createdBy?.name }}</span></p>
      <p><span class="meta-key">Aberto em:</span><span class="meta-value">{{ ticket?.createdAt | date }}</span></p>
      <p><span class="meta-key">Última atualização:</span><span class="meta-value">{{ ticket?.createdAt | date }}</span></p>
    </div>
  </div>
</section>