<div class="grid">
    <div class="lg:col-6"></div>
    <div class="col-12 lg:col-6">
        <div class="login-form h-screen">
            <form>
                <h2>Entre ou crie sua conta</h2>
                <div class="field p-fluid">
                    <label>email</label>
                    <input pInputText type="text">
                </div>
                <div class="field p-fluid">
                    <label>password</label>
                    <input pPassword type="password">
                </div>
                <div class="flex flex-row justify-content-between">
                    <div class="p-fluid">
                        <p-checkbox class="pr-2"></p-checkbox>
                        <label>Remember account</label>
                    </div>
                    <div class="field p-fluid">
                        <a href="#">Remember account</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>