/* You can add global styles to this file, and also import other style files */

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.app-spinner {
  width: 30px !important;
  height: 30px !important;
}

.flex-spacer-30 {
  flex: 1 30px;
}
